:root{
    --bg-color :  #fff;
    --border-color: #ddd ;
}
*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    padding-left: 30px;
    padding-right: 30px ;
    margin-right: auto;
    margin-left: auto;
}
/*header*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}
header nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header nav img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
header nav .search-box{
   height: 30px;
   width: 300px;
   display: flex;
   align-items: center;
}
header nav .search-box .search-input{
    height: 100%;
    width: 260px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 10px;
    text-transform: capitalize;
    caret-color: grey;
}
header nav .search-box .search-input:focus{
    outline: none;
}
header nav .search-box  .search-btn{
    cursor: pointer;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-left: none;
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
header nav .search-box  .search-btn:hover{
    background-color:  #eee;
}
header nav .search-box  .search-btn i{
    font-size: 18px;
}
header nav  .links{
     display: flex;
     align-items: center;
     gap: 30px;
}
header nav .links .link i{
    color: black;
    font-size: 35px;
}
header nav .links .link img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.activity-log{
    position: relative;
}
.activity-container{
    width: 350px;
    max-height: 400px;
    position: absolute;
    top: 140%;
    right: -20px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}
.activity-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.activity-card:not(:last-child){
    margin-bottom: 10px;
}
.activity-card:hover{
    background-color: #eee;
}
.activity-card .user-img{ 
   border-radius: 50%;
   width: 50px;
   height: 50px;
}
.activity-card .activity{
   width: 200px;
   text-align: center;
}
.activity-card .activity-post{
   width: 50px;
   height: 50px;
   object-fit: cover;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info{
    font-weight: 500;
}
.user-info h2{
    margin-left: 10px;
}
.user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    margin-top: 16px;
    width: 100%;
    font-weight: 500;
}
.sub-menu-link i{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.hide{
    display: none;
}


/*main-section*/
.main{
    display: flex;
    flex-direction: column; /* Menampilkan setiap post dalam satu kolom */
    align-items: center; /* Pusatkan konten secara horizontal */
}
.main .post-container{
    width: 50%;
    margin-bottom: 20px;
    
}

.main .post-container .post{
    width: 100%;
    border:  1px solid var(--border-color);
    background-color: var(--bg-color);
    margin-bottom: 30px;
    margin-top: 10px;
  
}
.main .post-container .post .post-header{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    
}
.main .post-container .post .post-header img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.main .post-container .post .post-header p {
    font-weight: 600;
    font-size: 14px;
}
.main .post-container .post .post-feed{
    width: 100%;
    height: 500px;
    position: relative;
    
}
.main .post-container .post .post-feed.without-img{
    height: 40px;
    margin-left: 30px;
}
.main .post-container .post .post-feed .post-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.main .post-container .post .post-feed .post-img-container img{
    min-width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.3s;
}
.main .post-container .post .post-details{
   padding: 15px;
}
.main .post-container .post .post-details .details{
    display: flex;
    align-items: center;
    gap : 10px ;
    margin-bottom: 10px;
}
.main .post-container .post .post-details .details i{
     font-size: 30px;
     cursor: pointer;
}
.main .post-container .post .post-details .details  .likes{
    color: #777;
    margin-left: auto;
}
.main .post-container .post .post-details .post-judul{
    line-height: 1.5;
    font-size: 16px;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
}
.main .post-container .post .post-details .post-desc{
    line-height: 1.5;
    font-size: 14px;
    color: #777;
    margin-bottom: 18px;
}
.main .post-container .post .post-details .comment-box{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.main .post-container .post .post-details .comment-box .comment-input{
    padding: 10px;
    width: 70%;
    border: 1px solid var(--border-color);
    height: 100%;
}
.main .post-container .post .post-details .comment-box .comment-input:focus{
    outline: 0 ;
}
.main .post-container .post .post-details .comment-box .comment-input::placeholder{
    color: #bbb;
}
.main .post-container .post .post-details .comment-box .add-comment-btn{
    height: 100% ;
    border: 1px solid var(--border-color);
    border-left: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--bg-color);
}
.main .post-container .post .post-details .comment-box .add-comment-btn:hover{
    background-color: #eee;
} 
.main .post-container .post .post-details .comment-box .comment-count{
    color: #777;
    margin-left: auto;
}
.post-overlays{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
.post-overlays.show{
    opacity: 1;
    animation: pop-up 2s forwards 1;
}
.post-overlays img{
    width: 200px;
}
.share-window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg-color);
    padding: 20px;
    width: 70%;
    transition: 0.5s;
    display: none;
}
.share-window h1{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 5px;
}
.share-window .share-link-container{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;
}
.share-window .share-link-container input{
     width: 100%;
     border: 1px solid var(--border-color);
     padding: 5px;
}
.share-window .share-link-container button{
     border: 1px solid var(--border-color);
     border-left: none ;
     padding: 5px;
     outline: none;
     cursor: pointer;
     width: 70px;
     background-color: var(--border-color);
     font-weight: 600;
}
.share-window.active{
    display: block;
}
.comments{
    border-radius: 4px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.comments img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.comments .comment-content{
    font-size: 14px;
}
.comments div{
    margin-left: auto;
}
.comments i.delete-comment ,.comments i.like-comment{
    font-size: 18px;
    cursor: pointer;
}
.comments i.delete-comment{
    color: red;
    margin-left: 10px;
}
.like-comment.red{
    color: red;
}
/*user about section*/
.user-about-section{
    width: 40%;
    height: 100%;
    position: relative;
}
.user-about-section .user-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-about-section .user-info img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.user-about-section .user-info .info-container h1{
     margin-bottom: 10px ;
}
.user-about-section .user-info .info-container p{
    line-height: 1.5;
    font-size: 14px;
    color: #777;
}
.suggestions-heading{
    margin: 30px 0;
    font-size: 18px;
}
.suggestions-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.suggestions-container .user-card{
    min-width: 150px;
    background-color: var(--bg-color);
    padding: 20px;
    border: 1px solid var(--border-color);
    text-align: center;
}
.suggestions-container .user-card img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.suggestions-container .user-card p {
    font-weight: 600;
}
.suggestions-container .user-card button{
    padding: 5px 10px;
    background-color: #3086d6 ;
    border: 1px solid  #59afff;
    color: var(--bg-color);
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.suggestions-container .user-card button:hover{
    background-color: #2063a1;
}
/*posting*/
.create-post{
    background-color: var(--bg-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 70%;
    margin: 100px auto 0;
}
.create-post.hide{
    display: none;
}
.posting-container{
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.posting-container div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.posting-container div:first-child{
    flex: 1;
}
.posting-container div:last-child{
    margin-left: 10px;
}
.posting-container div img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.posting-container div  input{
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
}
.posting-container input:focus{
    outline: none;
}
.posting-container label.add-media , .posting-container button.posting{
    padding: 10px 20px;
    background-color: #3086d6 ;
    border: 1px solid  #59afff;
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}
.posting-container label.add-media:hover , .posting-container button.posting:hover{
    background-color: #2063a1;
}
.posting-container label.add-media{
    display: flex;
    align-items: center;
}
.posting-container button.add-media i {
    font-size: 25px;
}
/*Responsive*/
@media(max-width:1024px){
     .container{
        padding-left: 15px;
        padding-right: 15px;
     }
     header nav{
       flex-wrap: nowrap;
     }
     header nav img{
        margin-right: 20px;
     }
    .posting-container label.add-media , .posting-container button.posting{
        padding: 5px 10px;
    }
    .posting-container{
        padding: 5px;
    }
    .posting-container input{
        width: 60%;
    }
    .comment-box span , .likes {
         font-size: 12px;
    }
    .suggestions-heading{
        text-align: center;
    }
    .suggestions-container{
       align-items: center; 
       justify-content: center;
    }
    .suggestions-container .user-card{
        width: 120px;
        margin-bottom: 10px;
    }
    .user-about-section .user-info{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }
    .user-about-section .user-info img{
        width: 50px;
        height: 50px;
    }
    .user-about-section .user-info .info-container{
        text-align: center;
    }
}
@media(max-width:776px){
    .create-post{
        margin: 50px auto 0;
    }
    .main{
        margin-top: 150px;
    }
    .activity-container{
        width: 280px;
        right: -120px;
    }
    .activity-card{
        padding: 7px;
    }
    .activity-card .user-img{ 
       width: 40px;
       height: 40px;
    }
    header nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .links{
       margin : 5px auto ;
       gap: 50px;
    }
    .main{
        display: block;
    }
    .user-about-section .user-info{
        display: none;
    }
    .main .post-container{
        width: 100%;
    }
    .user-about-section{
        width: 100%;
    }
    .suggestions-heading{
        text-align: center;
    }
    .main .post-container .post .post-details .comment-box .comment-input{
        width: 60%;
    }
    .create-post{
        width: 90%;
        margin: 150px auto -70px;
    }
    .posting-container{
       padding: 5px;
       display: flex;
       flex-direction: column;
    }
    .posting-container div{
        display: flex;
        align-items: center;
        width: 100%
    }
    .posting-container div:last-child{
        justify-content: center;
        margin-top: 5px;
        gap: 10px;
    }
    .posting-container input{
        margin-left: 5px;
        flex: 1;
    }
    .posting-container label.add-media , .posting-container button.posting{
        padding: 10px;
    }
    .posting-container button.add-media i {
        font-size: 22px;
    }
}
@media(max-width:409px){
    header nav > img {
        display: none;
    }
    .main{
        margin-top: 180px;
    }
    .activity-container{
        width: 250px;
    }
    .activity-card p {
        font-size: 12px;
    }
}
/*animations*/
@keyframes pop-up{
    0%{
       transform: scale(0);
    }
    20%{
       transform: scale(1.1);
    }
    80%{
       transform: scale(0.9);
    }
    90%{
       transform: scale(0.95);
    }
    100%{
       transform: scale(1);
    }
}